.footer {
  background-color: $footer-backgroundColor;
  padding-top: 66px;
  padding-bottom: 70px;
  text-align: center;
  @media (max-width: 992px) {
    padding-top: 57px;
    padding-bottom: 56px;
  }
  @media (max-width: 480px) {
    padding-top: 38px;
    padding-bottom: 47px;
  }

  &__title {
    color: #FEFEFE;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__text {

    color: $footer-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 22px;
    margin-bottom: 37px;
    @media (max-width: 480px) {
      margin-top: 8px;
      margin-bottom: 26px;
      font-size: 12px;
    }

    &__span {
      @media (max-width: 480px) {
        display: none;
      }
    }
  }

  &__socials {
    margin: auto;
  }

  &__contacts {
    &__address {
      &:after {
        content: "/";
        color: $footer-text;
        margin-left: 6px
      }
    }

    &__tel {
      color: $footer-text;

      &:after {
        content: "/";
        color: $footer-text;
        margin-left: 6px
      }
    }

    &__email {
      color: $footer-text;
    }

    @include flex-center;
    padding-left: 0;
    color: $footer-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 34px 0 0 0;
    gap: 10px;
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin: 25px 0 0 0;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.footer-container {
  width: 684px;
  margin: 0 auto;
  @media (max-width: 684px) {
    width: 100%;
  }
  @media (max-width: 480px) {
    width: 303px;
  }
}