
.page-header {
  padding-top: 45px;
  padding-bottom: 51px;
  @media (max-width: 992px) {
    padding-top: 41px;
    padding-bottom: 43px;
  }
  @media (max-width: 768px) {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  &__menu {
    @include flex-center;
    margin: 0;
    column-gap: 68px;
    padding-left: 0;
    @media (max-width: 992px) {
      column-gap: 38px;
    }
    @media (max-width: 768px) {
      display: none;
      &--active {
        display: block;
        position: absolute;
        right: 0;
        top: 37px;
        background-color: #F5F5F5;
        width: 182px;
        margin: 0;
      }
    }
  }

  &__item {

    @media (max-width: 768px) {
      padding-left: 14px;

      &:hover {
        background-color: #E5E5E5;
      }
    }
  }

  &__link {
    color: $main-text;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;

    &:hover {
      color: #57A4A4;
    }
  }

  &__nav {
    position: relative;

    &__buttons {
      display: none;
      @media (max-width: 768px) {
        display: block;
        padding: 0;
        margin-left: auto;
        border: none;
        background-color: black;
        cursor: pointer;

      }

    }
  }
}

.nav-btn-open {
  display: none
}