.instagram {
  background-color: $instagram-backgroundColor;
  padding-top: 47px;
  padding-bottom: 49px;
  @media (max-width: 480px) {
    background-color: rgba(0, 0, 0, 0.0001);
    padding-bottom: 42px;
  }

  &__subject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    @media (max-width: 992px) {
      margin-bottom: 35px;
    }
    @media (max-width: 480px) {
      margin-bottom: 13px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $main-text;
  }

  &__link {
    color: $main-text;
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    @media (max-width: 480px) {
      display: none;
    }
  }

  &__images {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
    @media (max-width: 480px) {
      justify-content: stretch;
    }
  }

  &__item {
    @media (max-width: 992px) {
      &:last-child {
        display: none;
      }
      @media (max-width: 480px) {
        &:nth-child(n+2) {
          display: none;
        }
      }
    }
  }

  &__img {
    object-fit: fill;
    @media (max-width: 480px) {
      width: 480px;
    }

  }
}
