
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 992px) {
    max-width: 768px;
    width: 100%;
  }
  @media (max-width: 768px) {
    max-width: 640px;
    width: 100%;
  }
}