.posts {
  padding: 68px 0;
  @media (max-width: 992px) {
    padding: 56px 0 60px 0;
  }
  @media (max-width: 480px) {
    padding: 38px 0 40px 0;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: $main-text;
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.posts__list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 32px 25px;
  margin: 0;
  @media (max-width: 992px) {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
  @media (max-width: 480px) {
    row-gap: 28px;
  }

  &__item {
    display: flex;
    justify-content: center;
    //align-items: center;
    @media (max-width: 480px) {
      &:last-child {
        display: none;
      }
      display: block;
    }
  }

}

.posts-item {
  &__img {
    margin-right: 21px;
    @media (max-width: 480px) {
      margin-bottom: 11px;
    }
  }

  &__article {
    margin: 0;
    color: $main-text;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }

  &__link {
    color: #7C7C7C;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    margin-top: 13px;
    color: $post-text;
    @media (max-width: 480px) {
      display: none;
    }
  }
}